.img-beach {
  background: url("~/img/beach.jpg") 100% 0 no-repeat;
  width: 100%;
  background-size:cover;
  height: 300px;
  text-align: center;

  span {
    display:inline-block;
    text-align: center;
    width:100%;
    vertical-align: middle;
    h1 {
          font-family: "Arial Black" , Helvetica, sans-serif;
          font-size: 4rem;
          line-height: 300px;
          color: white;
    }
  }
}

.absolute {
  position: absolute;
}

.f_item {
  margin-top: 15px;
}
