.item {
  border-radius: 25px;
  background: #33FFFD;
  padding: 10px;
  border-color: Black;
  float: left;
  margin: 20;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  border-color: Black;
  -webkit-box-align: center;
  align-items: center;
}

a {
  display: block;
}

.center {
  float: center;
}

